#title {
  height: 5%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#map {
  /*position: relative;*/
  height: 70%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h3 {
  font-family: "Courier New", Courier, monospace;
}
#collectionsListContainer {
  height: 27%;
  width: 100%;
  resize: vertical;
  overflow: auto;
  overflow: scroll;
}
.animation:hover {
  transition: 0.4s;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(171, 202, 219);
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: blue;
}
a:hover {
  color: rgb(153, 0, 255);
}

#wrapper {
  height: 95%; /* of body width */
}

#wrapper > div {
  display: inline-block;
  margin: auto;
}

#title {
  height: 3%;
}
